.categories {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  min-width: 25ch;
  padding: 0.25rem;
}

.categories a {
  background: blue;
  color: white;
  font-size: large;
  text-transform: uppercase;
  padding: 0.5rem;
}

.categories a:hover {
  cursor: pointer;
  background: darkblue;
}
